body {
  background :black;
}

.listMovies{
  display: flex;
  justify-content: center;
}

.form-control{
  width: 50%;
}

.filter_form{
  display: flex;
  justify-content: space-around;
  margin: 15px 0 30px 0;
}

.but{
  text-align: center;
}

.btn-primary {
  color: #212529;
  background-color: rgb(51, 109, 185);
}

.btn-primary:hover {
  color: #212529;
  background-color: rgb(51, 109, 185);
}

.links{
  text-decoration: none;
  color: #212529;
}

.trailer{
  text-align: center;
  
}
